.footer {
    display: flex;
    justify-content: space-between;
    position: fixed;

    bottom: 0;
    left: 0;
    width: 90vw;

    margin: 0px 40px 35px 40px;

    &__social {
        display: flex;
        column-gap: 16px;
    }
}
