@import '../../abstracts/variables.scss';

.resume {
    flex-direction: column;
    padding-bottom: 15%;

    &__button {
        font-size: 1.375rem;
        font-weight: 600;
        cursor: pointer;

        border: 1px solid $primary;
        border-radius: 2.5rem;

        padding: 1rem 73px;
        margin-top: 2.5rem;
        background: $white;

        &:hover {
            color: $white;
            background: $primary;
        }
    }
}
