@import '../../abstracts/mixins.scss';
@import '../../abstracts/variables.scss';

.main {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    &__content {
        display: grid;
        grid-template-rows: 4.6875rem 8.125rem 4.6875rem;
        grid-template-columns: 7.5rem 20rem 7.5rem;
        align-items: center;
        justify-items: center;
        position: relative;

        margin: 0 auto;

        @include breakpointMax(md) {
            grid-template-rows: 4.6875rem 8.125rem 4.6875rem;
            grid-template-columns: 3rem 20rem 3rem;
        }

        @include breakpointMax(sm) {
            grid-template-rows: 2rem 4rem 3rem;
            grid-template-columns: 4.5rem 13rem 4.5rem;
        }
    }

    &-left {
        position: relative;

        animation: ease-in;
        animation-name: openLeft;
        animation-duration: 600ms;
        animation-fill-mode: forwards;
        transform: rotate(180deg);

        @include breakpointMax(md) {
            height: 4.5rem;
            animation-name: openLeftMd;
        }

        @include breakpointMax(sm) {
            height: 3.625rem;
            animation-name: openLeftSm;
        }
    }

    &-text {
        grid-row: 2/3;
        grid-column: 2/3;
        opacity: 0;

        animation-delay: 600ms;
        animation-name: show-text;
        animation-duration: 1000ms;
        animation-fill-mode: forwards;

        @include breakpointMax(sm) {
            font-size: 2rem;
            line-height: 2.78125rem;
        }
    }

    &-bottom {
        position: relative;
        top: 9.375rem;
        left: 2.5rem;

        animation: ease-in;
        animation-name: openRight;
        animation-duration: 600ms;
        animation-fill-mode: forwards;
        transform: rotate(180deg);

        @include breakpointMax(md) {
            height: 4.5rem;
            animation-name: openRightMd;
        }

        @include breakpointMax(sm) {
            height: 3.625rem;
            animation-name: openRightSm;
        }
    }
}

@keyframes show-text {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes openLeft {
    from {
        top: 4.375rem;
        left: 9.6875rem;
    }

    to {
        transform: rotate(0);
        left: 0;
        top: 0;
    }
}

@keyframes openLeftMd {
    from {
        top: 4.375rem;
        left: 9.6875rem;
    }

    to {
        transform: rotate(0);
        left: 0;
        top: 1rem;
    }
}

@keyframes openLeftSm {
    from {
        top: 1.3rem;
        left: 6rem;
    }

    to {
        transform: rotate(0);
        left: 2rem;
        top: 0;
    }
}

@keyframes openRight {
    from {
        top: 9.375rem;
        left: 2.5rem;
    }

    to {
        transform: rotate(0);
        left: 12.5rem;
        top: 11.25rem;
    }
}

@keyframes openRightMd {
    from {
        top: 9.375rem;
        left: 2.5rem;
    }

    to {
        transform: rotate(0);
        left: 10rem;
        top: 11.25rem;
    }
}

@keyframes openRightSm {
    from {
        top: 5rem;
        left: 1.6rem;
    }

    to {
        transform: rotate(0);
        top: 6rem;
        left: 5.8rem;
    }
}
