.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &__content {
        display: grid;
        grid-template-rows: 75px 1fr 75px;
        grid-template-columns: 120px 1fr 120px;
        align-items: center;
        justify-items: center;

        margin: 0 auto;
    }

    &-top {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    &-center {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    &-bottom {
        grid-row: 3/4;
        grid-column: 3/4;
    }
}
