@import '../../abstracts/mixins.scss';
@import '../../abstracts/variables.scss';

.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;

    top: 0;
    left: 0;
    width: 90vw;

    margin: 2.1875rem 9.0625rem 0 2.5rem;

    &__items {
        font-weight: 300;
        font-size: 1.125rem;
        letter-spacing: 0.005rem;

        cursor: pointer;

        &-container {
            display: flex;
            column-gap: 4.375rem;
        }
    }

    &__bottom {
        position: absolute;
        bottom: 0;
        left: 0;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 2rem;

        height: 4rem;
        width: 100vw;
        border-radius: 1.625rem 1.625rem 0 0;
        background: $primary;

        @include breakpointMin(sm) {
            column-gap: 2rem;
        }

        &-icon {
            cursor: pointer;

            height: 1.5rem;
        }
    }
}
