.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;

    top: 0;
    left: 0;
    width: 90vw;

    margin: 35px 145px 0 40px;

    &__items {
        font-weight: 300;
        font-size: 18px;
        letter-spacing: 0.005em;

        cursor: pointer;

        &-container {
            display: flex;
            column-gap: 70px;
        }
    }
}
